<div class="twittercolumn col-md-4 col-sm-12 col-xs-12">
  <p class="forTw">loc_TWITTER_TITLE</p>
  <div class="socialDesc twitter">
    <p class="forNdemi">^tweet_text^</p>
    <a href="^tweet_url^" class="links">^loc_READ_MORE^</a><span class="forNbook">^tweet_posted^</span>
  </div>
  <div class="connect text-center">
    <p><span class="uppercase">^loc_CONNECT^</span> <a href="^tweet_url^"><span class="fbTxt"><b>loc_TWITTER</b></span></a><span class="txtOrange splC">></span></p>
  </div>
</div>
