^tmp_admin=head^
<div class="col-md-9">
  ^tmp_admin=elements=error_success^
  ^tmp_admin=elements=sub_nav^
  ^tmp_admin=elements=tab_nav^
  <form name="parameterForm" ng-submit="saveParameters()" novalidate>
    <fieldset>
      <p>^loc_TWITTER_PARAMETER_DESCRIPTION^</p>
      <div class="panel panel-default" ng-repeat="parameter in parameterSettings.parameters">
        <div class="panel-body">
          <div class="form-group">
            <a class="pull-right text-danger" style="font-size:20px;cursor-style:pointer;" ng-click="removeParameter($index)"><span class="glyphicon glyphicon-remove-circle"></span></a>
            <div class="form-group">
              <label>^loc_PARAMETER_TYPE^</label>
              <select class="form-control" ng-options="type for type in twitterParameterTypes" ng-model="parameter.type"></select>
            </div>
            <div class="form-group">
                <label>^loc_PARAMETER_VALUE^</label>
                <input type="text" class="form-control" ng-model="parameter.value"></input>
            </div>
          </div>
        </div>
      </div>
      <div class="panel">
        <a ng-click="addNewParameter()" class="btn btn-success">^loc_ADD_PARAM^</a>
      </div>
      ^tmp_admin=elements=save_button^
    </fieldset>
  </form>
</div>
^tmp_angular=admin=settings=twitter_parameter_settings^
^tmp_admin=footer^
